.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fbc2eb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
    }



    .pink-textarea textarea.md-textarea:focus:not([readonly]) {
        border-bottom: 1px solid #f48fb1;
        box-shadow: 0 1px 0 0 #f48fb1;
      }
      .active-pink-textarea.md-form label.active {
        color: #f48fb1;
      }
      .active-pink-textarea.md-form textarea.md-textarea:focus:not([readonly])+label {
        color: #f48fb1;
      }
      
      
      .amber-textarea textarea.md-textarea:focus:not([readonly]) {
        border-bottom: 1px solid #ffa000;
        box-shadow: 0 1px 0 0 #ffa000;
      }
      .active-amber-textarea.md-form label.active {
        color: #ffa000;
      }
      .active-amber-textarea.md-form textarea.md-textarea:focus:not([readonly])+label {
        color: #ffa000;
      }
      
      
      .active-pink-textarea-2 textarea.md-textarea {
        border-bottom: 1px solid #f48fb1;
        box-shadow: 0 1px 0 0 #f48fb1;
      }
      .active-pink-textarea-2.md-form label.active {
        color: #f48fb1;
      }
      .active-pink-textarea-2.md-form label {
        color: #f48fb1;
      }
      .active-pink-textarea-2.md-form textarea.md-textarea:focus:not([readonly])+label {
        color: #f48fb1;
      }
      
      
      .active-amber-textarea-2 textarea.md-textarea {
        border-bottom: 1px solid #ffa000;
        box-shadow: 0 1px 0 0 #ffa000;
      }
      .active-amber-textarea-2.md-form label.active {
        color: #ffa000;
      }
      .active-amber-textarea-2.md-form label {
        color: #ffa000;
      }
      .active-amber-textarea-2.md-form textarea.md-textarea:focus:not([readonly])+label {
        color: #ffa000;
      }